- name: Add Kubernetes Repository
  yum_repository:
    name: kubernetes
    description: Kubernetes repo
    baseurl: https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
    gpgkey: https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
- name: Install Healthbot software requirements
  yum:
   name:
    - yum-plugin-fastestmirror
    - yum-utils
    - epel-release
    - deltarpm
    - rsync
    - net-tools
    - python3
    - device-mapper-persistent-data
    - lvm2
    - sshpass
- name: Install Docker software requirements
  yum:
   name:
    - kubeadm
    - docker
- name: Enable Kubelet
  service: name=kubelet enabled=yes
- name: Start Kubelet
  service: name=kubelet state=started
- name: Enable Docker
  service: name=docker enabled=yes
- name: Start Docker
  service: name=docker state=started